/* Layout Styles */
body .main-container {
  margin-top: 60px;
}
.header {
  color: #ff0000;
}
.header a {
  color: #ff0000;
}
.table-padding {
  padding: 0px !important;
}
.table-padding thead tr th {
  padding: 0px !important;
}
.table-header {
  position: relative;
}
.table-header-cursor-container {
  background-color: #000011;
  cursor: e-resize;
  height: 100%;
  float: left;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 2px;
}
.stTable tr.selected {
  background-color: #3278b3;
}
