/* Layout Styles */
body .main-container {
  margin-top: 60px;
}
.header {
  color: #ff0000;
}
.header a {
  color: #ff0000;
}
.table-padding {
  padding: 0px !important;
}
.table-padding thead tr th {
  padding: 0px !important;
}
.stTable tr.selected {
  background-color: #3278b3;
}
