<p>This is the partial for view 2.</p>
<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>

<div>Filter <input type="text" ng-model="tableConfig.filter"> <button ng-click="validateFilter()" >Validate Filter</button></div>
<div>Selection {{selection}} <button ng-click="selectedSpecificRows()">Select Rows 1-2</button></div>
<div>
    <button ng-click="changeCols()" >Change Columns</button>
    <button ng-click="buttonTest()" >Test Data</button>
    <button ng-click="changeData()" >Change Data</button>
</button></div>
<div st-table table-config="tableConfig" table-data="data" on-table-complete="onTableComplete(tableApi)"
     st-table-resizable style="width: 500px" class="stTable">
</div>

